body{
    background-color: #778ca3;
    font-family: 'Noto Sans KR', sans-serif;
}

.dp_on{
    display: block;
}
.dp_off{
    display: none;
}

input{
    background-color: transparent;
    border: 0;
    font-size: 20px;
    border-bottom: 1px solid #a5b1c2;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #303952;
    opacity: 1; /* Firefox */
    text-align: center;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #303952;
    text-align: center;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #303952;
    text-align: center;
  }

/* 시계 */
.click_area{
    padding: 140px 0 50px;
    text-align: center;
}
.click_area h2{
    font-size: 50px;
}

/* 이름 */
.name_area{
    text-align: center;
    padding: 20px 0;
}
.name_area h4{
    font-size: 20px;
}

/* 리스트 */
.todolist_area{
    text-align: center;
}
.toDoList{
    padding: 10px 0;
    width: 500px;
    margin: 0 auto;
}
.toDoList li{
    padding: 5px 0;
}
.toDoList li button{
    margin-left: 5px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    cursor: pointer;
}

/* 날씨 */
.weather{
    position: absolute;
    top: 20px;
    right: 20px;
    padding-left: 30px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: left center;
}
/* 배경 */
.bg_img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn .5s linear;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

