.click_area{
    padding: 20px;
    text-align: center;
}




.bg_img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.dp_on{
    display: block;
}
.dp_off{
    display: none;
}