/* 상단 버튼 */
.btn_wrpa{
    padding: 30px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 2px solid #ddd;
}
.btn_wrpa .btn_lotto{
    display: inline-block;
    width: 100px;
    height: 20px;
    font-size: 13px;
    text-align: center;
}

/* 하단 로또 출력 */
#lotto_wrap{
    margin: 40px;
}
#lotto_wrap h1{
    text-align: center
}
#today_lotto{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
#today_lotto ul::after{
    display: block;
    content: "";
    clear: both;
}
#today_lotto li{
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    text-align: center;
    border-radius: 50%;
    font-weight: 500;
    color: #fff;
    margin: 0 10px
}
#today_lotto .plus{
    color: black;
}


.num10{ background-color: #fcc43e}
.num20{ background-color: #8CC6E7}
.num30{ background-color: #F18D80}
.num40{ background-color: #A7A2DE}
.num50{ background-color: #6BCE9D}


