.title{
    text-align: center;
    font-size: 30px;
    margin: 50px;
}

.disabled{
    pointer-events: none;
    color:#ddd;
}

.btn_box{
    margin: 0 auto 30px;
    width: 430px;
    display: flex;
    justify-content: center;
}

.btn_box li{
    margin-right: 10px;
}
.btn_box button{
    cursor: pointer;
    background: transparent;
    border: 1px solid;
    padding: 10px;
    font-size: 15px;
}

#findbumb{
    display: block;
    content: "";
    clear: both;
}

#findbumb{
    width: 430px;
    height: 450px;
    margin: 10px auto;
}
#findbumb li{
    float: left;
    /* display: inline-block; */
    width: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    position: relative;
    margin: 1px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}
#findbumb li::before{
    content:'';
    position: absolute;
    left: 0;
    z-index: 5;
    background-color: antiquewhite;
    width: 38px;
    height: 40px;
}

#findbumb li.on::before{
    opacity: 0;
}
