
.card {
    width: 100px;
    height: 100px;
    text-align: center;
    display: inline-block;
    margin: 10px;
    perspective: 1000px;
}
.card .card_inner{
    position: relative; 
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card.flip .card_inner{
    transform: rotateY(180deg);
}

.card .front,
.card .back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card .front{
    z-index: 2;
    background-color: yellowgreen;
    
}

.card .back{
    z-index: 1;
    transform: rotateY(180deg);
    background-repeat: no-repeat;
    background-size: cover;
}
